header {
  font-style: italic;
  color: #832232;
  padding: 50px 150px 0 150px;
}

h3 {
  color: #ce8964;
}

main {
  padding: 50px 200px 50px 200px;
}

.refresh-score-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
